<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.repository.SaltRepository">
    <select id="select" parameterType="string" resultType="string">
        SELECT SALT FROM SALT WHERE USER_EMAIL = #{userEmail}
    </select>
    <insert id="insert" parameterType="salt">
        INSERT INTO SALT (SALT, USER_EMAIL) VALUES (#{salt},#{userEmail})
    </insert>
    <update id="update" parameterType="salt">
        UPDATE SALT SET SALT = #{salt} WHERE USER_EMAIL = #{userEmail}
    </update>
    <delete id="delete" parameterType="string">
        DELETE SALT WHERE USER_EMAIL = #{userEmail}
    </delete>

</mapper>
